.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Espacio entre los campos */
}

.dialog-actions {
  display: flex;
  justify-content: space-around; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100px; /* Altura del contenedor de acciones */
  background-color:  #26275e; /* Color de fondo */
  padding: 0 20px; /* Espaciado interno */
}


mat-form-field {
  width: 100%; /* Hace que los campos ocupen todo el ancho disponible */
}

/* Estilos adicionales para los botones */
button {
  background-color: #ffffff; /* Color de fondo del botón */
  color: #3f51b5; /* Color del texto */
  transition: background-color 0.3s, color 0.3s; /* Transición suave */
  padding: 10px 20px; /* Espaciado interno del botón */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
}

button:hover {
  background-color: #3f51b5; /* Color de fondo al pasar el mouse */
  color: white; /* Cambia el color del texto al pasar el mouse */
}
