<h1 mat-dialog-title>Editar Actividad</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Nombre del Usuario</mat-label>
    <input matInput [(ngModel)]="data.dnomusu" disabled>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Estado de Actividad</mat-label>
    <mat-select [(ngModel)]="data.ldesact">
      <mat-option [value]="'1'">Desactivado</mat-option>
      <mat-option [value]="'0'">Activado</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="guardarCambios()">Guardar</button>
</div>
